.total-price {
  list-style-type: none;
  margin: 100;
  padding: 10;
  background-color: #f1f1f1;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(130, 6, 49);
}

.home{
  margin: 100;
  padding: 10;

}

ul.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  overflow: hidden;
}

ul.nav-menu li {
  float: left;
}

ul.nav-menu li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

ul.nav-menu li a:hover {
  background-color: #ddd;
}

/* CSS styles for login section */
.login-section {
  margin-top: 20px;
}

.login-section input[type="text"] {
  padding: 8px;
  width: 200px;
}

.login-section input[type="submit"] {
  padding: 8px 16px;
  margin-left: 10px;
}


.login-form {
  /* Styles for the login form container */
  margin: 20px auto;
  max-width: 400px;
}

.login-label {
  /* Styles for the labels */
  display: block;
  margin-bottom: 5px;
}

.login-input {
  /* Styles for the input fields */
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 450px;
  border-radius: 5px;
}

.login-button {
  /* Styles for the login button */
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: bottom;
}

.login-error{
  background-color: #ec90b4;
  color: rgb(212, 11, 11)0b4;
  padding: 10px 20px;
  width:auto;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}